@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Signika:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  /* background-color: #ebe8e2; */
  font-family: "Montserrat", sans-serif;
  margin: 0 !important;
}
.App{
  background-color: rgba(0, 0, 0, 0.7)
}
.about-pad{
  padding: 150px 250px;
}
.generalHeight {
  min-height: 80vh;
}
.experience-section{
  min-height: 50vh;
}
.btnText {
  font-size: 14px;
  font-weight: 400;
}
.heroContainer{
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding-bottom: 100px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.7);
}
.normal-font {
  font-size: 14px;
  font-weight: 300;
}

.cursor {
  cursor: pointer;
}

.padLeft {
  padding-left: 80px;
}
.phone{
  height: 700px;
  width: 400px;
  margin-left: 100px;
  justify-content: center;
  align-items: center;
}
/* .hero_imgContainer {
  padding-left: 60px
} */
.hero_txtContainer {
  padding-left: 100px
}
.card {
  height: 400px;
  width: auto;
  margin-bottom: 5px;
}

.aboutmetext {
  padding-top: 250px;
  width: 500px;
}

.aboutmeimg {
  padding-top: 200px
}

.box {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 6px solid #5cb85c;
  margin-left: 100px
}
#scrollspyHeading1{
  background-image: url(./components/assets/images/check2.jpg);
  background-size: cover;
  /* background-position: center; */
  background-position: inherit;
  width: auto;
  height: auto;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 0.1em;
  background-color: rgba(0, 0, 0, 0.7)
}

::-webkit-scrollbar-thumb {
  background: #ff0e0e;
  border-radius: 2px;
}
#fade-up-text {
  font-size: 24px;
  opacity: 0;
  transform: translateY(50px); /* Start from 50px below its normal position */
  animation: fadeUp 1s ease-in-out forwards; /* Apply the animation */
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px); /* Start position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End position */
  }
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .padLeft {
    padding-left: 0px;
  }
  .generalHeight {
    min-height: 70vh;
  }
  .hero_txtContainer {
    padding-left: 10px
  }
  .card {
    height: auto;
    width: 100%;
  }
  .about-pad{
    padding: 100px 150px;
  }
  .aboutmetext {
    padding-top: 0px;
    width: auto;
  }
  .box {
    /* height: 300px;
    width: 300px; */
    border-radius: 50%;
    border: 6px solid #5cb85c;
    /* margin-left: 100px */
  }
}

@media screen and (max-width: 576px) {
  .padLeft {
    padding-left: 0px;
  }
  .about-pad{
    padding: 50px;
  }
  .generalHeight {
    min-height: 50vh;
  }
  .hero_imgContainer {
    display: none !important;
  }

  .hero_txtContainer {
    padding-left: 0
  }
  .phone{
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    padding-top: 5px;
  }
  .aboutmetext {
    padding-top: 0px;
    padding: 30px;
    width: auto;
  }
  .aboutmeimg {
    padding-top: 0px;
  }

  .box {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 6px solid #5cb85c;
    margin: 20px;
  }
  #scrollspyHeading1{
  background-size: calc(100vh);
  background-repeat: no-repeat;
  }
  .remove{
    display: none;
  }
}